.upperNav{
    background-color: #01b7f2;
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
}
.socialMedia{
    fa-icon{
        color: white;
        margin-right:20px ;
        font-size: 13px;
        cursor: pointer;
    }
}
.account {
    a{
        color: white;
        text-decoration: none;
        margin-right: 10px;
        font-size: 13px;
    }
    select{
        background: transparent;
        border: 0px;
        color: white;
        &:active{
            outline: 0px;
            border: 0px;
        }
        option{
            color: #01b7f2;
        }
    }
}
.mainNav{
    background: white;
    padding: 13px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        color: #01b7f2;
        border: 1px solid #01b7f2;
        background-color: white;
        border-radius: 30px;
        padding: 15px 30px;
    }
    .right{
        display: flex;
        align-items: center;
        ul{
            margin-top: 10px;
        }
    }
}
.links{
    list-style-type: none;
    display: flex;
    .link {
        color:#838383;
        font-size: 14px;
        margin-right: 30px;
        cursor: pointer;
        transition: color 0.3s;
        position: relative;
        &:hover{
            color: #01b7f2;
            fa-icon{
                color: #01b7f2;
            }
        }
    }
    fa-icon{
        margin-left: 10px;
        color:#838383;
        font-size: 13px;
        transition: color 0.3s;
    }
}